@charset "utf-8";

/*기본태그 정의*/
html, body {padding:0;margin:0;height:100%;}
body, /*td*/ select, textarea, input {font-size:12px;font-family:'돋움','Dotum', 'verdana';color:#666;}

/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{margin:0;padding:0;color:#666;font-family:'돋움','Dotum', 'verdana';font-weight:normal;font-size:12px;-webkit-text-size-adjust:none;}사파리 회전시 폰트 크기 고정하기 */

/* 마진과 패딩의 초기화 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {margin:0;padding:0;}
img{ vertical-align:top}

body{  overflow-x: hidden;}

/* 리스트의 스타일 제거 */
ol, ul {list-style:none;}

/* 테이블 스타일 초기화 */
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;}

/* 이미지 및 필드셋에서 보더 표시 초기화 */
fieldset, img {border:0;}

/* 캡션 텍스트 정렬 초기화 */
caption {text-align:left;}

/* 폼태그의 초기화 */
select {font-size:12px;font-family:'돋움','Dotum', 'verdana';vertical-align:middle;color:#666666;}
input {font-size:12px;font-family:'돋움','Dotum', 'verdana';vertical-align:middle;color:#666666;}
textarea {font:12px;font-family:'돋움','Dotum', 'verdana';line-height:140%;color:#666666;}
input.radio {vertical-align:middle;}
/* a{display:block} */
a:link    {color:#666666; text-decoration:none;}
a:active    {color:#666666; text-decoration:none;}
a:visited    {color:#666666; text-decoration:none;}
a:hover    {color:#666666; text-decoration:none;}

/* hidden 처리 */
caption{width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
.hide,hr{position:absolute;top:-9999px;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}


body{ }

.dim{  position: fixed;  width: 100%;  height: 100%;  top: 0;  left: 0;  z-index: 1000;  background: #000;  filter: alpha(opacity=80);  opacity: 0.8;  -moz-opacity: 0.8; display:none}

.wrap{ width:1280px; margin:0 auto; position:relative; height:auto}
.wrap .top .over{ position:absolute; top:113px; display:none; z-index:1000; cursor:pointer}
.wrap .top .menu{ position:absolute; top:68px; left:152px; width:550px }
.wrap .top .menu li{ float:left; cursor:pointer}

.wrap .kv  { width:1280px; height:687px; overflow:hidden; position:relative}
.wrap .kv ul.img{ width:10000px; height:687px; overflow:hidden; position:relative}
.wrap .kv ul.img li{ width: 1280px}
.wrap .kv ul.dot{ position:absolute; z-index:100; left:570px;  bottom:38px}
.wrap .kv ul.dot li{ width:20px; text-align:center; cursor:pointer}
.wrap .kv ul.dot div{ float:left; width:20px}
.wrap .kv ul.icon{ position:absolute; z-index:100; right:25px;  top:250px; width:40px}
.wrap .kv ul.icon li{ float:right; margin-bottom:12px; cursor:pointer}
.wrap .kv ul li{ float:left}
.wrap .kv .ani .bg{ background:url(../images/kv_b.png) center 0  no-repeat; background-size:1650px; width:1280px; height:687px; }
.wrap .kv .ani .tit{ position:absolute; top:68px; z-index:200}
.wrap .con > div.c1{ text-align:center; margin-top:65px}
.wrap .con > div.c2{ text-align:center; margin-top:20px}
.wrap .con > div.c3{ text-align:center; margin:45px 0 55px}

.wrap .kv .ani .play { position: absolute; display: none; cursor: pointer; }

/* remember to define focus styles! */
:focus {
outline: 0;
}